.nav {
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  z-index: 1;
  padding: 25px;
  /* margin-bottom: 45px; */

  transition-timing-function: ease-in;
  transition: all 0.55s;
}

.nav__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 100px;
  object-fit: contain;
  position: fixed;
  left: 0;
  padding-left: 20px;
  cursor: pointer;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  cursor: pointer;
  object-fit: contain;
  width: 30px;
}
