* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.app {
  background: #111;
}

@media only screen and (max-width: 600px) {
  .app {
    width: fit-content;
  }
}
